/* ESTILO OFICIAL*/
* {
  margin: 0px;
  padding: 0px;
}

body.theme-yellow {
  background: #ffcc00;
  font-family: "Dongle";
  font-size: 28px;
}

header {
  text-align: center;
}

header .cores-fundo {
  text-align: right;
}

header .theme-toggle {
  display: inline-block;
  border: 0.5px solid black;
  margin: 10px 10px 0 0;
  background-color: #193c6d;
  border-radius: 50%;
  width: 33px;
  height: 33px;
}

header .theme-toggle:hover {
  box-shadow: #193c6d 0 0 15px;
  transform: scale(1.1);
}

header img {
  margin: 0;
  max-width: 37%;
}

header img:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 51vh;
}

main {
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
  overflow: auto;
  flex-grow: 1;
  margin-bottom: 40px;
}

main .container-add-tasks {
  padding: 4px 0 15px 0;
}

.container-add-tasks input {
  height: 36.3px;
  width: 315px;
  border: 1.5px solid #117554;
  outline: none;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  background: #deefe0;
  padding: 5px;
  font-size: 28px;
  font-family: "Dongle";
}

::placeholder {
  color: #a7a7a7;
}

.container-add-tasks input:hover {
  background-color: #c8e6cc;
  transition-duration: 0.3s;
}

.container-add-tasks button {
  color: black;
  background: #117554;
  height: 48px;
  width: 99px;
  margin: -6px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border: 1.5px solid #117554;
  outline: none;
  cursor: pointer;
  font-family: "Dongle";
  font-size: 25px;
}

.container-add-tasks button:hover {
  box-shadow: #117554 0 0 6px;
  transition-duration: 0.2s;
}

main .container-tasks .to-do-list {
  background: #117554;
  border-radius: 25px;
  margin: 0 35%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  box-sizing: border-box;
  width: auto;
}

footer {
  background: #117554;
  height: 46px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

footer img {
  max-width: 100%;
  margin-left: 1.5%;
}

footer h5 {
  margin-right: 34.5%;
  max-width: 100%; /* Ajuste o valor conforme necessário */
  margin: auto;
  font-weight: normal;
}

footer h5 a {
  color: black;
}

/* ESTILO DAS TASKS ADICIONADAS*/
.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #deefe0;
  border-radius: 25px;
  padding: 5px 15px;
  margin: 12px;
  font-size: 26px;
  color: black;
  transition: background 0.3s;
}

.task-item:hover {
  background-color: #c8e6cc;
}

.task-text {
  flex: 1; /* Ocupa o espaço disponível, mantendo os botões alinhados à direita */
}

.task-complete,
.task-delete {
  margin-left: 8px;
  color: black;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

.task-complete:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
  box-shadow: #117554 0 0 3px;
}

.task-delete:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
  box-shadow: #d9544f 0 0 3px;
}

.task-complete {
  padding: 2.7px 8.6px 2.7px 8.6px;
  background: #1175549a;
  font-weight: bold;
}

.task-delete {
  padding: 4.5px 10px 4.5px 10px;
  background-color: #d9544fc0;
}

.completed {
  text-decoration: line-through;
}

/* ESTILO PARA O TEMA AZUL */
body.theme-blue {
  background-color: #193c6d;
  font-family: "Dongle";
  font-size: 28px;
}

.theme-blue .theme-toggle {
  background-color: #ffcc00; /* Amarelo para indicar o outro tema */
}

.theme-blue .theme-toggle:hover {
  box-shadow: #ffcc00 0 0 15px;
  transform: scale(1.1);
}

.theme-blue header img {
  content: url("../img/logo-blue-theme.svg"); /* Substitua pelo caminho correto da logo azul */
}

.theme-blue .container-add-tasks input {
  background: #f9e9c3;
  color: black;
  border-color: #ffcc00;
}

.theme-blue .container-add-tasks input:hover {
  background-color: #ffe2a0;
}

.theme-blue .container-add-tasks ::placeholder {
  color: #858585;
}

.theme-blue .container-add-tasks button {
  background: #ffcc00;
  color: black;
  border: 1.5px solid #ffcc00;
}

.theme-blue .container-add-tasks button:hover {
  box-shadow: #ffcc00 0 0 6px;
  transition-duration: 0.2s;
}

.theme-blue .container-tasks .to-do-list {
  background: #ffcc00;
}

.theme-blue .task-item {
  border: none;
  background-color: #f9e9c3;
}

.theme-blue .task-item:hover {
  background-color: #ffe2a0; /* Um leve verde ao passar o mouse */
}

.theme-blue footer {
  background: rgba(0, 0, 0, 0.718);
}

.theme-blue footer h5 {
  color: whitesmoke;
}

.theme-blue footer h5 a {
  color: whitesmoke;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-25deg);
  }

  40% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(-25deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* RESPONSIVIDADE */

@media (max-width: 1500px) {
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  main .container-tasks .to-do-list {
    margin: 0 30%;
  }
}

@media (max-width: 768px) {
  main .container-tasks .to-do-list {
    margin: 0 9%;
  }

  main .container-add-tasks button {
    height: 46.5px;
  }

  main .container-add-tasks input {
    height: 35px;
  }

  header img {
    max-width: 60%;
  }
}

@media (max-width: 480px) {
  main .container-add-tasks button {
    border-radius: 14px;
  }

  main .container-add-tasks input {
    border-radius: 14px;
  }

  footer h5 {
    max-width: 50%;
    margin: auto;
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
